body {
  background-color: rgba(248, 148, 6, 1.0);
  font-family: 'Raleway', sans-serif;
}

#logo-block {
  display: table;
  font-size: 200%;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 30px;
  color: black;
  height: 100vh;
}

#logo {
  display: table-cell;
  vertical-align: middle;
}

#about-block {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 1.0);
  padding: 40px;
  text-align: center;
}

#about-block div {
  padding-top: 30px;
}

#services-block {
  display: block;
  color: black;
  padding: 40px;
  text-align: center;
  background-image: url(images/svc-bg);
}

#services-block div {
  padding-top: 30px;
}

.link-style-remove { color: inherit; text-decoration: none; }
.link-style-remove:link { color: inherit; text-decoration: none; }
.link-style-remove:visited { color: inherit; text-decoration: none; }
.link-style-remove:hover { color: inherit; text-decoration: none; }
.link-style-remove:active { color: inherit; text-decoration: none; }

footer {
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 1.0);
  display: block;
  font-size: 75%;
  text-align: center;
  padding: 20px;
  padding-top: 35px;
}

#b {
  font-weight: bold;
}
